/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.05.2014, 16:31:48
    Author     : stelss007
*/

.comments .comment {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}


.comments .comment .comment_user_info {
  float: left;
  margin-right: 10px;
  text-align: center;
  width: 90px;
}
.comments .comment .comment_user_info img {
  width: 90px;
}
.comments .comment .comment_body {
/*  float: left;*/
  margin-left: 100px;
}

.comments .comment .comment_title {
  margin-bottom: 10px;
  font-weight: bold;
}

.comment_label {
 display: block; 
 float: left;
 min-width: 70px;
}

.comment_field {
  margin: 5px 0;
}