/**
 *
 * Apply Here your Custom CSS
 *
*/

html, body {
/*  position: relative;*/
  height:100%;
}

/*
a:focus,
button:focus,
input:focus
{ 
    outline: none; 
}
:focus, :active {
    outline: 0;
    border: 0;
}
button::-moz-focus-inner {
  border: 0;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
*/

.table {
  width: 100%;
  margin-bottom: 17px;
  margin-top: 10px;
}

.table tbody tr:hover td,
.table tbody tr:hover th
{
    background-color: #ebebeb !important;
}

.page-container {
    position: relative;
/*    height: 100%;*/
    min-height: 100%;
}

.table .btn i {
    opacity: 0.7;
}

.table .btn:hover i {
    opacity: 1;
}

.modal-backdrop {
  z-index: 9000;
}

.modal {
  z-index: 9001;
}


.page-container {
  pacity: 0.9;
}


.body-hide {
  opacity: 0.9;
  
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.body-show {
  opacity: 1;
  
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;

  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
  text-align: center;
  border-radius: 8px;
  
  color: #818da2;
}

.scrollup:hover {
  color: #000;
}

.scrollup:after {
  font-size: 29px;
  font-family: "entypo";
  content: '\e882';
}

.lang-menu img {
    width: 20px;
}

.accordion .panel {
    margin-bottom: 5px;
}

.accordion .panel-title {
    float: none;
    padding: 0px;
} 

.accordion .panel-title a {
    width: 100%;
    display: block;
    padding: 10px 15px;
}



a, a:hover, a:active, a:focus {
  outline: 0;
}

.bootstrap-select .btn-default {
    background-color: #fff;
}

.inline {
    display: inline-block !important;
    width: auto;
}

.bootstrap-select.inline {
    width: auto !important;
}

.form-control:focus {
   outline: #818da2;
}