html, body, p, code:before, table {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #111;
}
html {
	height: 100%;

	/* Needed for iOS scrolling bug fix */
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
body {
	position: relative;
/*	min-height: 100%;*/
	word-wrap: break-word;

	/* Needed for iOS scrolling bug fix */
	overflow: auto;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.sceditor-container table, .sceditor-container td {
	border: 1px dotted #000;
	empty-cells: show;
}

code:before {
	position: absolute;
	content: 'Code:';
	top: -1.35em;
	left: 0;
}
code {
	margin-top: 1.5em;
	position: relative;
	background: #eee;
	border: 1px solid #aaa;
	white-space: pre;
	padding: .25em;
	display: block;
}
.ie6 code, .ie7 code {margin-top: 0;}
code:before, code {
	display: block;
	text-align: left;
}

blockquote {
	position: relative;
	background: #fff6c7;
	margin: .25em 0;
	border: 1px solid #aaa;
	padding: .25em;
}
blockquote cite {
	font-weight: bold;
	display: block;
	font-size: 1em;
	border-bottom: 1px solid #aaa;
}
div { min-height: 1.25em; }
h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; }


/*Messages*/
#appMessage_conteiner
{
  position: fixed;
  width: 100%;
  display: none;
  z-index: 10000;
}

#appMessage_msg_text
{
  margin: 0 5px;
  color: #000;
  font-size: 12px;
  font-family: Arial;
  text-align: center;
  padding: 5px 7px;
  background-color: #E2E281;
  border: 2px solid #CD6300;
  cursor: pointer;
  background-repeat: no-repeat;
  min-height: 36px;
  background-position: 5px 5px;
}

#appMessage_conteiner .info
{
  background-image: url(../images/system/message/info.png);
  background-color: #E2E281;
  border: 2px solid #CD6300;
}

#appMessage_conteiner .warning
{
  background-image: url(../images/system/message/warning.png);
  background-color: #ffe45c;
  border: 2px solid #CD6300;
}

#appMessage_conteiner .error
{
  background-image: url(../images/system/message/error.png);
  background-color: #D80015;
  border: 2px solid #CD6300;
  color: #fff;
}


/*
Работа с  иконками, подключим шрифты иконки
Перечень кодов: http://www.entypo.com/characters/
http://fortawesome.github.io/Font-Awesome/cheatsheet/
*/

@font-face {
  font-family: 'FontAwesome';
  src: url('/public/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('/public/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/public/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/public/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('/public/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

  
  * + html .btn-icon {  /* для ие */
      display: inline;
  }
  .btn-icon
  {
    display: inline-block;
    font-family: "FontAwesome";
    text-rendering: optimizeLegibility;
    color: #8F8E8E;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 1px;
    border-radius: 5px;
    /*border: 1px solid #aaa;*/
    border: none;
    min-width: 16px;
    text-align: center;
    font-weight: bold;
  }
  
   .btn-icon:hover
   {
     /*border: 1px solid #ccc;*/
     border: none;
     color: #222;
/*     background-color: #ddd;*/
   }
   
   .btn-icon span
   {
     font-size: 12px;
   }
  
  /* 
  .btn-delete:before
  {
    content: '\2716';
  }
  .btn-phone:before
  {
    content: '\1F4DE';
  }
  .btn-mobile:before
  {
    content: '\1F4F1';
  }
  .btn-mail:before
  {
    content: '\2709';
  }
  
  .btn-edit:before
  {
    content: '\270E';
  }
  .btn-edit2:before
  {
    content: '\2712';
  }
  .btn-attach:before
  {
    content: '\1F4CE';
  }
  .btn-inbox:before
  {
    content: '\E777';
  }
  .btn-back:before
  {
    content: '\E712';
  }
  .btn-back-all:before
  {
    content: '\E713';
  }
  .btn-forward:before
  {
    content: '\27A6';
  }
  .btn-user:before
  {
    content: '\1F464';
  }
  .btn-users:before
  {
    content: '\1F465';
  }
  .btn-user-add:before
  {
    content: '\E700';
  }
  .btn-export:before
  {
    content: '\E715';
  }
  .btn-location:before
  {
    content: '\E724';
  }
  .btn-map:before
  {
    content: '\E727';
  }
  .btn-share:before
  {
    content: '\E73C';
  }
  .btn-heart:before
  {
    content: '\2665';
  }
  .btn-heart-empty:before
  {
    content: '\2661';
  }
  .btn-star:before
  {
    content: '\2605';
  }
  .btn-star-empty:before
  {
    content: '\2606';
  }
  .btn-star-empty:before
  {
    content: '\2606';
  }
  .btn-thumb:before
  {
    content: '\1F44D';
  }
  .btn-thumb-down:before
  {
    content: '\1F44E';
  }
  .btn-chat:before
  {
    content: '\E720';
  }
  .btn-comment:before
  {
    content: '\E718';
  }
  .btn-home:before
  {
    content: '\2302';
  }
  .btn-search:before
  {
    content: '\1F50D';
  }
  .btn-print:before
  {
    content: '\E716';
  }
  .btn-bell:before
  {
    content: '\1F514';
  }
  .btn-link:before
  {
    content: '\1F517';
  }
  .btn-flag:before
  {
    content: '\2691';
  }
  .btn-edit:before,
  .btn-conf:before
  {
    content: '\2699';
  }
  .btn-tools:before
  {
    content: '\2692';
  }
  .btn-trophy:before
  {
    content: '\1F3C6';
  }
  .btn-tag:before
  {
    content: '\E70C';
  }
  .btn-photo:before
  {
    content: '\1F4F7';
  }
  .btn-megaphone:before
  {
    content: '\1F4E3';
  }
  .btn-palette:before
  {
    content: '\1F3A8';
  }
  .btn-note:before
  {
    content: '\266A';
  }
  .btn-new:before
  {
    content: '\1F4A5';
  }
  .btn-book:before
  {
    content: '\1F4D5';
  }
  .btn-study:before
  {
    content: '\1F393';
  }
  .btn-newspapper:before
  {
    content: '\1F4F0';
  }
  .btn-bag:before
  {
    content: '\F45C';
  }
  .btn-airplane:before
  {
    content: '\2708';
  }
  
  .btn-eye:before,
  .btn-glas:before,
  .btn-see:before,
  .btn-view:before
  {
    content: '\E70A';
  }
  .btn-clock:before
  {
    content: '\1F554';
  }
  .btn-calendar:before
  {
    content: '\1F4C5';
  }
  .btn-flash:before
  {
    content: '\26A1';
  }
  .btn-key:before
  {
    content: '\1F511';
  }
  .btn-magnet:before
  {
    content: '\E7A1';
  }
  .btn-brush:before
  {
    content: '\E79A';
  }
  .btn-trafic:before
  {
    content: '\1F6C8';
  }
  .btn-globe:before
  {
    content: '\1F30E';
  }
  .btn-keyboard:before
  {
    content: '\2328';
  }
  .btn-publish:before
  {
    content: '\E74D';
  }
  .btn-monitor:before
  {
    content: '\1F4BB';
  }
  .btn-creditcard:before
  {
    content: '\1F4B3';
  }
  .btn-clipboard:before
  {
    content: '\1F4CB';
  }
  .btn-cart:before
  {
    content: '\E73D';
  }
  .btn-rss:before
  {
    content: '\E73A';
  }
  .btn-signal:before
  {
    content: '\1F4F6';
  }
  .btn-graphic-line:before
  {
    content: '\1F4C8';
  }
  .btn-graphic-circle:before
  {
    content: '\25F4';
  }
  .btn-graphic-bar:before
  {
    content: '\1F4CA';
  }
  .btn-graphic-area:before
  {
    content: '\1F53E';
  }
  .btn-lock:before
  {
    content: '\1F512';
  }
  .btn-unlock:before
  {
    content: '\1F513';
  }
  .btn-check:before
  {
    content: '\2713';
  }
  .btn-minus-square:before
  {
    content: '\229F';
  }
  .btn-plus-square:before
  {
    content: '\229E';
  }
  .btn-delete-square:before
  {
    content: '\274E';
  }
  .btn-minus-sircle:before
  {
    content: '\2296';
  }
  .btn-plus-sircle:before
  {
    content: '\2295';
  }
  .btn-delete-sircle:before
  {
    content: '\2716';
  }
  .btn-info:before
  {
    content: '\2139';
  }
  .btn-info-circle:before
  {
    content: '\E705';
  }
  .btn-help:before
  {
    content: '\2753';
  }
  .btn-help-circle:before
  {
    content: '\E704';
  }
  .btn-warning:before
  {
    content: '\26A0';
  }
  .btn-circle:before
  {
    content: '\1F504';
  }
  .btn-shufle:before
  {
    content: '\1F500';
  }
  .btn-list:before
  {
    content: '\E005';
  }
  .btn-add-list:before
  {
    content: '\E003';
  }
  .btn-images:before
  {
    content: '\1F304';
  }
  .btn-video:before
  {
    content: '\1F3AC';
  }
  .btn-music:before
  {
    content: '\1F3B5';
  }
  .btn-folder:before
  {
    content: '\1F4C1';
  }
  .btn-archive:before
  {
    content: '\E800';
  }
  .btn-upload:before
  {
    content: '\1F4E4';
  }
  .btn-download:before
  {
    content: '\1F4E5';
  }
  .btn-save:before
  {
    content: '\1F4BE';
  }
  .btn-install:before
  {
    content: '\E778';
  }
  .btn-cloud:before
  {
    content: '\2601';
  }
  .btn-cloud-upload:before,
  .btn-upload-cloud:before
  {
    content: '\E711';
  }
  .btn-play:before
  {
    content: '\25B6';
  }

  .btn-pause:before
  {
    content: '\f04c';
  }
  .btn-rec:before
  {
    content: '\25CF';
  }
  .btn-stop:before
  {
    content: '\25A0';
  }
  .btn-fw:before
  {
    content: '\23E9';
  }
  .btn-bw:before
  {
    content: '\23EA';
  }
  .btn-to-start:before
  {
    content: '\23EE';
  }
  .btn-to-end:before
  {
    content: '\23ED';
  }
  .btn-volume:before
  {
    content: '\23F7';
  }
  .btn-left-bold:before
  {
    content: '\E4AD';
  }
  .btn-down-bold:before
  {
    content: '\E4B0';
  }
  .btn-up-bold:before
  {
    content: '\E4AF';
  }
  .btn-left:before
  {
    content: '\2B05';
  }
  .btn-down:before
  {
    content: '\2B07';
  }
  .btn-up:before
  {
    content: '\2B06';
  }
  .btn-right:before
  {
    content: '\27A1';
  }
 */
  
  .admin_table thead th,
  .admin_table thead td
  {
    border: none;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: #D4D0C8;
  }
  
  .admin_table tbody{
    border-left: 1px solid #333;
    border-right: 1px solid #333;
  }
  
  .admin_table tbody td
  {
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .admin_table tbody tr:hover td
  {
    background-color: #eee;
  }
  
  .admin_table tfoot,
  .admin_table tfoot td
  {
    border: none;
  }
  
  
  .odd,
  .odd td,
  .odd th
  {
    background-color: #fff;
  }
  .even,
  .even td,
  .even th
  {
    background-color: #f7f7f7;
  }

 .btn-install:before
  {
    content: '\E778';
  }
  
.btn-glass:before {
  content: "\f000";
}
.btn-music:before {
  content: "\f001";
}
.btn-search:before {
  content: "\f002";
}
.btn-envelope-o:before {
  content: "\f003";
}
.btn-heart:before {
  content: "\f004";
}
.btn-star:before {
  content: "\f005";
}
.btn-star-o:before {
  content: "\f006";
}
.btn-user:before {
  content: "\f007";
}
.btn-film:before {
  content: "\f008";
}
.btn-th-large:before {
  content: "\f009";
}
.btn-th:before {
  content: "\f00a";
}
.btn-th-list:before {
  content: "\f00b";
}
.btn-check:before {
  content: "\f00c";
}
.btn-delete:before {
  content: "\f00d";
}
.btn-search-plus:before {
  content: "\f00e";
}
.btn-search-minus:before {
  content: "\f010";
}
.btn-power-off:before {
  content: "\f011";
}
.btn-signal:before {
  content: "\f012";
}
.btn-edit:before,
.btn-gear:before,
.btn-cog:before {
  content: "\f013";
}
.btn-trash-o:before {
  content: "\f014";
}
.btn-home:before {
  content: "\f015";
}
.btn-file-o:before {
  content: "\f016";
}
.btn-clock-o:before {
  content: "\f017";
}
.btn-road:before {
  content: "\f018";
}
.btn-download:before {
  content: "\f019";
}
.btn-arrow-circle-o-down:before {
  content: "\f01a";
}
.btn-arrow-circle-o-up:before {
  content: "\f01b";
}
.btn-inbox:before {
  content: "\f01c";
}
.btn-play-circle-o:before {
  content: "\f01d";
}
.btn-rotate-right:before,
.btn-repeat:before {
  content: "\f01e";
}
.btn-refresh:before {
  content: "\f021";
}
.btn-list-alt:before {
  content: "\f022";
}
.btn-lock:before {
  content: "\f023";
}
.btn-flag:before {
  content: "\f024";
}
.btn-headphones:before {
  content: "\f025";
}
.btn-volume-off:before {
  content: "\f026";
}
.btn-volume-down:before {
  content: "\f027";
}
.btn-volume-up:before {
  content: "\f028";
}
.btn-qrcode:before {
  content: "\f029";
}
.btn-barcode:before {
  content: "\f02a";
}
.btn-tag:before {
  content: "\f02b";
}
.btn-tags:before {
  content: "\f02c";
}
.btn-book:before {
  content: "\f02d";
}
.btn-bookmark:before {
  content: "\f02e";
}
.btn-print:before {
  content: "\f02f";
}
.btn-camera:before {
  content: "\f030";
}
.btn-font:before {
  content: "\f031";
}
.btn-bold:before {
  content: "\f032";
}
.btn-italic:before {
  content: "\f033";
}
.btn-text-height:before {
  content: "\f034";
}
.btn-text-width:before {
  content: "\f035";
}
.btn-align-left:before {
  content: "\f036";
}
.btn-align-center:before {
  content: "\f037";
}
.btn-align-right:before {
  content: "\f038";
}
.btn-align-justify:before {
  content: "\f039";
}
.btn-list:before {
  content: "\f03a";
}
.btn-dedent:before,
.btn-outdent:before {
  content: "\f03b";
}
.btn-indent:before {
  content: "\f03c";
}
.btn-video-camera:before {
  content: "\f03d";
}
.btn-picture-o:before {
  content: "\f03e";
}
.btn-pencil:before {
  content: "\f040";
}
.btn-map-marker:before {
  content: "\f041";
}
.btn-adjust:before {
  content: "\f042";
}
.btn-tint:before {
  content: "\f043";
}
.btn-edit:before,
.btn-pencil-square-o:before {
  /*content: "\f044";*/
}
.btn-share-square-o:before {
  content: "\f045";
}
.btn-check-square-o:before {
  content: "\f046";
}
.btn-arrows:before {
  content: "\f047";
}
.btn-step-backward:before {
  content: "\f048";
}
.btn-fast-backward:before {
  content: "\f049";
}
.btn-backward:before {
  content: "\f04a";
}
.btn-play:before {
  content: "\f04b";
  font-size: 14px;
}
.btn-pause:before {
  content: "\f04c";
  font-size: 14px;
}
.btn-stop:before {
  content: "\f04d";
  font-size: 14px;
}
.btn-forward:before {
  content: "\f04e";
}
.btn-fast-forward:before {
  content: "\f050";
}
.btn-step-forward:before {
  content: "\f051";
}
.btn-eject:before {
  content: "\f052";
}
.btn-chevron-left:before {
  content: "\f053";
}
.btn-chevron-right:before {
  content: "\f054";
}
.btn-plus-circle:before {
  content: "\f055";
}
.btn-minus-circle:before {
  content: "\f056";
}
.btn-delete-circle:before {
  content: "\f057";
}
.btn-check-circle:before {
  content: "\f058";
}
.btn-question-circle:before {
  content: "\f059";
}
.btn-info-circle:before {
  content: "\f05a";
}
.btn-crosshairs:before {
  content: "\f05b";
}
.btn-delete-circle-o:before {
  content: "\f05c";
}
.btn-check-circle-o:before {
  content: "\f05d";
}
.btn-ban:before {
  content: "\f05e";
}
.btn-arrow-left:before,
.btn-left:before {
  content: "\f060";
}
.btn-arrow-right:before,
.btn-right:before {
  content: "\f061";
}
.btn-arrow-up:before,
.btn-up:before {
  content: "\f062";
}
.btn-arrow-down:before,
.btn-down:before {
  content: "\f063";
}
.btn-mail-forward:before,
.btn-share:before {
  content: "\f064";
}
.btn-expand:before {
  content: "\f065";
}
.btn-compress:before {
  content: "\f066";
}
.btn-plus:before,
.btn-add:before {
  content: "\f067";
}
.btn-minus:before {
  content: "\f068";
}
.btn-asterisk:before {
  content: "\f069";
}
.btn-exclamation-circle:before {
  content: "\f06a";
}
.btn-gift:before {
  content: "\f06b";
}
.btn-leaf:before {
  content: "\f06c";
}
.btn-fire:before {
  content: "\f06d";
}
.btn-eye:before {
  content: "\f06e";
}
.btn-eye-slash:before {
  content: "\f070";
}
.btn-warning:before,
.btn-exclamation-triangle:before {
  content: "\f071";
}
.btn-plane:before {
  content: "\f072";
}
.btn-calendar:before {
  content: "\f073";
}
.btn-random:before {
  content: "\f074";
}
.btn-comment:before {
  content: "\f075";
}
.btn-magnet:before {
  content: "\f076";
}
.btn-chevron-up:before {
  content: "\f077";
}
.btn-chevron-down:before {
  content: "\f078";
}
.btn-retweet:before {
  content: "\f079";
}
.btn-shopping-cart:before {
  content: "\f07a";
}
.btn-folder:before {
  content: "\f07b";
}
.btn-folder-open:before {
  content: "\f07c";
}
.btn-arrows-v:before {
  content: "\f07d";
}
.btn-arrows-h:before {
  content: "\f07e";
}
.btn-bar-chart-o:before {
  content: "\f080";
}
.btn-twitter-square:before {
  content: "\f081";
}
.btn-facebook-square:before {
  content: "\f082";
}
.btn-camera-retro:before {
  content: "\f083";
}
.btn-key:before {
  content: "\f084";
}
.btn-gears:before,
.btn-cogs:before {
  content: "\f085";
}
.btn-comments:before {
  content: "\f086";
}
.btn-thumbs-o-up:before {
  content: "\f087";
}
.btn-thumbs-o-down:before {
  content: "\f088";
}
.btn-star-half:before {
  content: "\f089";
}
.btn-heart-o:before {
  content: "\f08a";
}
.btn-sign-out:before {
  content: "\f08b";
}
.btn-linkedin-square:before {
  content: "\f08c";
}
.btn-thumb-tack:before {
  content: "\f08d";
}
.btn-external-link:before {
  content: "\f08e";
}
.btn-sign-in:before {
  content: "\f090";
}
.btn-trophy:before {
  content: "\f091";
}
.btn-github-square:before {
  content: "\f092";
}
.btn-upload:before {
  content: "\f093";
}
.btn-lemon-o:before {
  content: "\f094";
}
.btn-phone:before {
  content: "\f095";
}
.btn-square-o:before {
  content: "\f096";
}
.btn-bookmark-o:before {
  content: "\f097";
}
.btn-phone-square:before {
  content: "\f098";
}
.btn-twitter:before {
  content: "\f099";
}
.btn-facebook:before {
  content: "\f09a";
}
.btn-github:before {
  content: "\f09b";
}
.btn-unlock:before {
  content: "\f09c";
}
.btn-credit-card:before {
  content: "\f09d";
}
.btn-rss:before {
  content: "\f09e";
}
.btn-hdd-o:before {
  content: "\f0a0";
}
.btn-bullhorn:before {
  content: "\f0a1";
}
.btn-bell:before {
  content: "\f0f3";
}
.btn-certificate:before {
  content: "\f0a3";
}
.btn-hand-o-right:before {
  content: "\f0a4";
}
.btn-hand-o-left:before {
  content: "\f0a5";
}
.btn-hand-o-up:before {
  content: "\f0a6";
}
.btn-hand-o-down:before {
  content: "\f0a7";
}
.btn-arrow-circle-left:before {
  content: "\f0a8";
}
.btn-arrow-circle-right:before {
  content: "\f0a9";
}
.btn-arrow-circle-up:before {
  content: "\f0aa";
}
.btn-arrow-circle-down:before {
  content: "\f0ab";
}
.btn-globe:before {
  content: "\f0ac";
}
.btn-wrench:before {
  content: "\f0ad";
}
.btn-tasks:before {
  content: "\f0ae";
}
.btn-filter:before {
  content: "\f0b0";
}
.btn-briefcase:before {
  content: "\f0b1";
}
.btn-arrows-alt:before {
  content: "\f0b2";
}
.btn-group:before,
.btn-users:before {
  content: "\f0c0";
}
.btn-chain:before,
.btn-link:before {
  content: "\f0c1";
}
.btn-cloud:before {
  content: "\f0c2";
}
.btn-flask:before {
  content: "\f0c3";
}
.btn-cut:before,
.btn-scissors:before {
  content: "\f0c4";
}
.btn-copy:before,
.btn-files-o:before {
  content: "\f0c5";
}
.btn-paperclip:before {
  content: "\f0c6";
}
.btn-save:before,
.btn-floppy-o:before {
  content: "\f0c7";
}
.btn-square:before {
  content: "\f0c8";
}
.btn-bars:before {
  content: "\f0c9";
}
.btn-list-ul:before {
  content: "\f0ca";
}
.btn-list-ol:before {
  content: "\f0cb";
}
.btn-strikethrough:before {
  content: "\f0cc";
}
.btn-underline:before {
  content: "\f0cd";
}
.btn-table:before {
  content: "\f0ce";
}
.btn-magic:before {
  content: "\f0d0";
}
.btn-truck:before {
  content: "\f0d1";
}
.btn-pinterest:before {
  content: "\f0d2";
}
.btn-pinterest-square:before {
  content: "\f0d3";
}
.btn-google-plus-square:before {
  content: "\f0d4";
}
.btn-google-plus:before {
  content: "\f0d5";
}
.btn-money:before {
  content: "\f0d6";
}
.btn-caret-down:before {
  content: "\f0d7";
}
.btn-caret-up:before {
  content: "\f0d8";
}
.btn-caret-left:before {
  content: "\f0d9";
}
.btn-caret-right:before {
  content: "\f0da";
}
.btn-columns:before {
  content: "\f0db";
}
.btn-unsorted:before,
.btn-sort:before {
  content: "\f0dc";
}
.btn-sort-down:before,
.btn-sort-asc:before {
  content: "\f0dd";
}
.btn-sort-up:before,
.btn-sort-desc:before {
  content: "\f0de";
}
.btn-envelope:before {
  content: "\f0e0";
}
.btn-linkedin:before {
  content: "\f0e1";
}
.btn-rotate-left:before,
.btn-undo:before {
  content: "\f0e2";
}
.btn-legal:before,
.btn-gavel:before {
  content: "\f0e3";
}
.btn-dashboard:before,
.btn-tachometer:before {
  content: "\f0e4";
}
.btn-comment-o:before {
  content: "\f0e5";
}
.btn-comments-o:before {
  content: "\f0e6";
}
.btn-flash:before,
.btn-bolt:before {
  content: "\f0e7";
}
.btn-sitemap:before {
  content: "\f0e8";
}
.btn-umbrella:before {
  content: "\f0e9";
}
.btn-paste:before,
.btn-clipboard:before {
  content: "\f0ea";
}
.btn-lightbulb-o:before {
  content: "\f0eb";
}
.btn-exchange:before {
  content: "\f0ec";
}
.btn-cloud-download:before {
  content: "\f0ed";
}
.btn-cloud-upload:before {
  content: "\f0ee";
}
.btn-user-md:before {
  content: "\f0f0";
}
.btn-stethoscope:before {
  content: "\f0f1";
}
.btn-suitcase:before {
  content: "\f0f2";
}
.btn-bell-o:before {
  content: "\f0a2";
}
.btn-coffee:before {
  content: "\f0f4";
}
.btn-cutlery:before {
  content: "\f0f5";
}
.btn-file-text-o:before {
  content: "\f0f6";
}
.btn-building-o:before {
  content: "\f0f7";
}
.btn-hospital-o:before {
  content: "\f0f8";
}
.btn-ambulance:before {
  content: "\f0f9";
}
.btn-medkit:before {
  content: "\f0fa";
}
.btn-fighter-jet:before {
  content: "\f0fb";
}
.btn-beer:before {
  content: "\f0fc";
}
.btn-h-square:before {
  content: "\f0fd";
}
.btn-plus-square:before {
  content: "\f0fe";
}
.btn-angle-double-left:before {
  content: "\f100";
}
.btn-angle-double-right:before {
  content: "\f101";
}
.btn-angle-double-up:before {
  content: "\f102";
}
.btn-angle-double-down:before {
  content: "\f103";
}
.btn-angle-left:before {
  content: "\f104";
}
.btn-angle-right:before {
  content: "\f105";
}
.btn-angle-up:before {
  content: "\f106";
}
.btn-angle-down:before {
  content: "\f107";
}
.btn-desktop:before {
  content: "\f108";
}
.btn-laptop:before {
  content: "\f109";
}
.btn-tablet:before {
  content: "\f10a";
}
.btn-mobile-phone:before,
.btn-mobile:before {
  content: "\f10b";
}
.btn-circle-o:before {
  content: "\f10c";
}
.btn-quote-left:before {
  content: "\f10d";
}
.btn-quote-right:before {
  content: "\f10e";
}
.btn-spinner:before {
  content: "\f110";
}
.btn-circle:before {
  content: "\f111";
}
.btn-mail-reply:before,
.btn-reply:before {
  content: "\f112";
}
.btn-github-alt:before {
  content: "\f113";
}
.btn-folder-o:before {
  content: "\f114";
}
.btn-folder-open-o:before {
  content: "\f115";
}
.btn-smile-o:before {
  content: "\f118";
}
.btn-frown-o:before {
  content: "\f119";
}
.btn-meh-o:before {
  content: "\f11a";
}
.btn-gamepad:before {
  content: "\f11b";
}
.btn-keyboard-o:before {
  content: "\f11c";
}
.btn-flag-o:before {
  content: "\f11d";
}
.btn-flag-checkered:before {
  content: "\f11e";
}
.btn-terminal:before {
  content: "\f120";
}
.btn-code:before {
  content: "\f121";
}
.btn-reply-all:before {
  content: "\f122";
}
.btn-mail-reply-all:before {
  content: "\f122";
}
.btn-star-half-empty:before,
.btn-star-half-full:before,
.btn-star-half-o:before {
  content: "\f123";
}
.btn-location-arrow:before {
  content: "\f124";
}
.btn-crop:before {
  content: "\f125";
}
.btn-code-fork:before {
  content: "\f126";
}
.btn-unlink:before,
.btn-chain-broken:before {
  content: "\f127";
}
.btn-question:before {
  content: "\f128";
}
.btn-info:before {
  content: "\f129";
}
.btn-exclamation:before {
  content: "\f12a";
}
.btn-superscript:before {
  content: "\f12b";
}
.btn-subscript:before {
  content: "\f12c";
}
.btn-eraser:before {
  content: "\f12d";
}
.btn-puzzle-piece:before {
  content: "\f12e";
}
.btn-microphone:before {
  content: "\f130";
}
.btn-microphone-slash:before {
  content: "\f131";
}
.btn-shield:before {
  content: "\f132";
}
.btn-calendar-o:before {
  content: "\f133";
}
.btn-fire-extinguisher:before {
  content: "\f134";
}
.btn-rocket:before {
  content: "\f135";
}
.btn-maxcdn:before {
  content: "\f136";
}
.btn-chevron-circle-left:before {
  content: "\f137";
}
.btn-chevron-circle-right:before {
  content: "\f138";
}
.btn-chevron-circle-up:before {
  content: "\f139";
}
.btn-chevron-circle-down:before {
  content: "\f13a";
}
.btn-html5:before {
  content: "\f13b";
}
.btn-css3:before {
  content: "\f13c";
}
.btn-anchor:before {
  content: "\f13d";
}
.btn-unlock-alt:before {
  content: "\f13e";
}
.btn-bullseye:before {
  content: "\f140";
}
.btn-ellipsis-h:before {
  content: "\f141";
}
.btn-ellipsis-v:before {
  content: "\f142";
}
.btn-rss-square:before {
  content: "\f143";
}
.btn-play-circle:before {
  content: "\f144";
}
.btn-ticket:before {
  content: "\f145";
}
.btn-minus-square:before {
  content: "\f146";
}
.btn-minus-square-o:before {
  content: "\f147";
}
.btn-level-up:before {
  content: "\f148";
}
.btn-level-down:before {
  content: "\f149";
}
.btn-check-square:before {
  content: "\f14a";
}
.btn-pencil-square:before {
  content: "\f14b";
}
.btn-external-link-square:before {
  content: "\f14c";
}
.btn-share-square:before {
  content: "\f14d";
}
.btn-compass:before {
  content: "\f14e";
}
.btn-toggle-down:before,
.btn-caret-square-o-down:before {
  content: "\f150";
}
.btn-toggle-up:before,
.btn-caret-square-o-up:before {
  content: "\f151";
}
.btn-toggle-right:before,
.btn-caret-square-o-right:before {
  content: "\f152";
}
.btn-euro:before,
.btn-eur:before {
  content: "\f153";
}
.btn-gbp:before {
  content: "\f154";
}
.btn-dollar:before,
.btn-usd:before {
  content: "\f155";
}
.btn-rupee:before,
.btn-inr:before {
  content: "\f156";
}
.btn-cny:before,
.btn-rmb:before,
.btn-yen:before,
.btn-jpy:before {
  content: "\f157";
}
.btn-ruble:before,
.btn-rouble:before,
.btn-rub:before {
  content: "\f158";
}
.btn-won:before,
.btn-krw:before {
  content: "\f159";
}
.btn-bitcoin:before,
.btn-btc:before {
  content: "\f15a";
}
.btn-file:before {
  content: "\f15b";
}
.btn-file-text:before {
  content: "\f15c";
}
.btn-sort-alpha-asc:before {
  content: "\f15d";
}
.btn-sort-alpha-desc:before {
  content: "\f15e";
}
.btn-sort-amount-asc:before {
  content: "\f160";
}
.btn-sort-amount-desc:before {
  content: "\f161";
}
.btn-sort-numeric-asc:before {
  content: "\f162";
}
.btn-sort-numeric-desc:before {
  content: "\f163";
}
.btn-thumbs-up:before {
  content: "\f164";
}
.btn-thumbs-down:before {
  content: "\f165";
}
.btn-youtube-square:before {
  content: "\f166";
}
.btn-youtube:before {
  content: "\f167";
}
.btn-xing:before {
  content: "\f168";
}
.btn-xing-square:before {
  content: "\f169";
}
.btn-youtube-play:before {
  content: "\f16a";
}
.btn-dropbox:before {
  content: "\f16b";
}
.btn-stack-overflow:before {
  content: "\f16c";
}
.btn-instagram:before {
  content: "\f16d";
}
.btn-flickr:before {
  content: "\f16e";
}
.btn-adn:before {
  content: "\f170";
}
.btn-bitbucket:before {
  content: "\f171";
}
.btn-bitbucket-square:before {
  content: "\f172";
}
.btn-tumblr:before {
  content: "\f173";
}
.btn-tumblr-square:before {
  content: "\f174";
}
.btn-long-arrow-down:before {
  content: "\f175";
}
.btn-long-arrow-up:before {
  content: "\f176";
}
.btn-long-arrow-left:before {
  content: "\f177";
}
.btn-long-arrow-right:before {
  content: "\f178";
}
.btn-apple:before {
  content: "\f179";
}
.btn-windows:before {
  content: "\f17a";
}
.btn-android:before {
  content: "\f17b";
}
.btn-linux:before {
  content: "\f17c";
}
.btn-dribbble:before {
  content: "\f17d";
}
.btn-skype:before {
  content: "\f17e";
}
.btn-foursquare:before {
  content: "\f180";
}
.btn-trello:before {
  content: "\f181";
}
.btn-female:before {
  content: "\f182";
}
.btn-male:before {
  content: "\f183";
}
.btn-gittip:before {
  content: "\f184";
}
.btn-sun-o:before {
  content: "\f185";
}
.btn-moon-o:before {
  content: "\f186";
}
.btn-archive:before {
  content: "\f187";
}
.btn-bug:before {
  content: "\f188";
}
.btn-vk:before {
  content: "\f189";
}
.btn-weibo:before {
  content: "\f18a";
}
.btn-renren:before {
  content: "\f18b";
}
.btn-pagelines:before {
  content: "\f18c";
}
.btn-stack-exchange:before {
  content: "\f18d";
}
.btn-arrow-circle-o-right:before {
  content: "\f18e";
}
.btn-arrow-circle-o-left:before {
  content: "\f190";
}
.btn-toggle-left:before,
.btn-caret-square-o-left:before {
  content: "\f191";
}
.btn-dot-circle-o:before {
  content: "\f192";
}
.btn-wheelchair:before {
  content: "\f193";
}
.btn-vimeo-square:before {
  content: "\f194";
}
.btn-turkish-lira:before,
.btn-try:before {
  content: "\f195";
}
.btn-plus-square-o:before {
  content: "\f196";
}